*, * ::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root{
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct:145;
}
body{
  --hue: var( --hue-neutral);
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct{
  --hue: var(--hue-correct);
}

body.wrong{
  --hue: var(--hue-wrong);
}

.container{
  width: 500px;
  max-width: 88%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-quiz{
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-bottom: -35px;
}

.btn-grid{
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap:10px;
  margin: 20px 0;
}


.hide{
  display: none;
}

.btn, .answer{
  --hue:var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover{
  outline: black ;
  border-color:black;
}

.btn.correct{
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong{
  --hue: var(--hue-wrong);
}
.start-btn{
  width: 50%;
  background-color: #98b825;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10x 20px;
  margin: 40px auto;

}

.controls{
  display: flex;
  justify-content: center;
  align-items: center;
}

#trivia{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: stretch;
}

.quiz{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

h3{
 margin-top: 40px;
 font-size: xx-large;
}


label{
  padding: 10px;
}

.container-option{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

#reinicia-btn{
  width: 100%;
}